button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: 1px solid $black;
	padding: 8px 24px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 0;
	&:hover {
		background-color: $black;
		color: #FFF;
	}
	&:active,
	&:focus {

	}
}

