input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $gray;
	width: 100%;
	padding: 4px 8px;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select {
	border: 1px solid $gray;
}

/*textarea {
	width: 100%;
}


input[type="text"],input[type="email"],input[type="tel"],input[type="url"],input[type="password"],input[type="datetime"],input[type="date"],,input[type="datetime-local"],input[type="month"],input[type="week"],input[type="time"],input[type="number"],textarea{

}*/