.post-lists{
	display: flex;
  justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 32px auto;

	@include mq(pc) {
		transform: translateX(-16px);
    width: calc(100% + 32px);
	}


  .hentry{
    width: 272px;
    flex-grow: 1;
    margin:0 16px 40px;
    @include mq(pc) {
      max-width: calc(50% - 32px);
    }
  }

  @media (min-width: 640px) and (max-width: 768px){
    .hentry{
      max-width: calc(50% - 32px);
    }
  }

  @media (min-width: 1120px){
    .hentry{
      max-width: calc(33.3% - 32px);
    }
  }
}
/*@media (max-width: 609px){
  .post-lists{
    .hentry{
      width: 100%;
      .entry-thumb{
        width: 100%;
        height: auto;
      }
    }
  }
}*/


.entry-thumb{
	width: 100%;
	height: auto;
	margin-bottom: 8px;
	object-fit: cover;
	img{
		width: 100%;
		height: auto;
	}
}

.entry-title{
	font-size: 1.4rem;
	font-weight: bold;
	line-height: (18 / 14);
	color: $black;
}

/*news archive list*/

.news-list-ttl{
	padding: 0 16px;
	max-width: 912px;
}

.post-news-lists{
	margin: 32px auto 64px;
	padding: 0 16px;
	@include mq(pc) {
		max-width: 912px;
	}
	li{
		padding: 8px 0;
		border-bottom: 1px solid $gray;
		&:first-child{
			border-top: 1px solid $gray;
		}
	}
	a{
		font-size: 1.4rem;
		line-height: 1.5;
		padding: 8px;
    @include mq(pc) {
      display: block;
    }
    @include mq(sp) {
      display: block;
    }
	}
}

.post-news-lists-time{
  @include mq(pc) {
    display: table-cell;
    width: 120px;
  }
  @include mq(sp) {
    display: block;
    margin-bottom: 4px;
  }
}

.post-news-lists-title{
  @include mq(pc) {
    display: table-cell;
  }
}